:root{
  --grey: #6C757C;
  --red: #FC0D1C;
}

html{
  box-sizing: border-box;
}

body{
  margin: 0 20px 0 0;
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

ul{
  padding: 0;
  list-style-type: none;
}

.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto repeat(3, auto) auto;
  grid-template-areas:
    "sb logo header"
    "sb logo content-1"
    "sb logo content-2"
    "sb logo content-3"
    "sb logo footer";
}

.sidebar{
  grid-area: sb;
}

.link{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

.logo{
  font-size: 100px;
  margin-left: -60px
}

.header{
  grid-area: header;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.header-under{
  font-size: 33px;
  font-weight: 100;
}

.header-span{
  color: var(--red);
}

.bio-box{
  grid-area: content-1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "bio pic"
}

.bio{
  grid-area: bio;
}

.photo{
  grid-area: pic;
}

.pic{
  width: 100px;
}

.photo-grid{
  grid-area: content-3;
  display: grid;
  margin: 20px;
}

.process{
  grid-area: content-2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.process-grid{

}

.footer{
  grid-area: footer;
}

.footer p{
  margin: 0;
  padding: 0;
  line-height: 20px;
  text-transform: lowercase;
}

#footer-span{
  border-left: 1px solid black;
  margin-right: 3px;
}

