:root{
  --grey: #6C757C;
}

html{
  box-sizing: border-box;
}

body{
  margin: 0 20px 0 0;
  background: white;
}

.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 50px repeat(3, auto) 50px;
  grid-template-areas:
    "sb logo header"
    "sb logo content-1"
    "sb logo content-2"
    "sb logo content-3"
    "sb logo footer";
}

.sidebar{
  grid-area: sb;
}

.logo{

}

.header{
  grid-area: header;
}

.bio-box{
  grid-area: content-1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "bio pic"
}

.bio{
  grid-area: bio;
}

.photo{
  grid-area: pic;
}

.pic{
  width: 100px;
}

.photo-grid{
  grid-area: content-2;
}

.contact{
  grid-area: content-3;
}

.footer{
  grid-area: footer;
}

ul{
  padding: 0;
  list-style-type: none;
}

