 /* main */
 :root {
   --grey: #6C757C;
   --red: #FC0D1C;
   --black: #161718;
   --opaque: #16171880;
   --white: #FFFFFF;
 }

 html {
   box-sizing: border-box;
 }

 body {
   margin: 0 20px 0 0;
   background: white;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: black;
 }

 ul {
   padding: 0;
   list-style-type: none;
 }

 a {
   text-decoration: none;
 }

 /* grid  */
 .container {
   display: grid;
   grid-gap: 10px;
   margin: 0;
   grid-template-columns: minmax(25px, 1fr) 150px 120px minmax(750px, 1000px) minmax(25px, 1fr);
   grid-template-rows: 250px repeat(5, min-content);
   grid-template-areas: 
    " . sb   logo  header    . " 
    " . sb   logo  content-1 . " 
    " . sb   logo  content-2 . " 
    " . sb   logo  content-3 . " 
    " . sb   logo  .         . " 
    " . sb   logo  footer    . ";
 }

 /* sidebar  */
 .sidebar {
   grid-area: sb;
   margin-top: 270px;
   margin-left: 50px;
   text-align: end;
   font-size: 25px;
 }

 .link {
   font-family: 'Playfair Display', serif;
   text-decoration: none;
   color: black;
 }

 .link:hover {
   text-decoration: underline;
   -webkit-text-decoration-color: var(--red); /*safari fallback*/
   text-decoration-color: var(--red);
 }

 .link:visited,
 .link:active,
 .link:link {
   color: black;
 }

 .social {
   color: black;
 }

 .social:visited,
 .social:active,
 .social:link {
   color: black;
 }

 .social:hover {
   opacity: .7;
 }

 .logo {
   grid-area: logo;
 }

 .logo-pic {
   width: 300px;
   margin-left: -185px;
   margin-top: 20px;
 }

 /* header */
 .header {
   grid-area: header;
   font-family: 'Playfair Display', serif;
   font-weight: bold;
   font-size: 50px;
   margin-top: 20px;
 }

 .header-content{
  align-items: center;
  margin: 50px 0;
 }

 .header-under {
   font-size: 33px;
   font-weight: 100;
 }

 .red-span {
   color: var(--red);
 }

 /*  body  */

 /*  bio  */
 .bio-box {
   grid-area: content-1;
   display: grid;
   grid-template-columns: 2fr;
   grid-template-rows: 1fr;
   grid-template-areas: "bio";
   margin-bottom: 50px;
 }

 .break {
   margin-bottom: 5px;
 }

 .bio {
   grid-area: "bio";
   line-height: 25px;
   width: 100%;
   margin-top: 20px;
 }

 .top-line {
   font-size: 20px;
 }

 .bio-underline {
   text-decoration: underline;
   -webkit-text-decoration-color: var(--red); /*safari fallback*/
   text-decoration-color: var(--red);
 }

 .bio-red-text {
   color: var(--red);
 }

 /* bio pic */
 /* .photo {
  grid-area: "bio";
  position: relative;
  float: right;
  height: 250px;
  shape-outside: circle();
}

.pic {
  position: absolute;
}

.pic1 {
  height: 100%;
  width: 100%;
}

.pic2 {
  height: 100%;
  width: 100%;
  visibility: hidden;
} */

 /* process */
 .process {
   grid-area: content-2;
   margin-bottom: 50px;
 }

 .process-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: "a b c";
   margin-top: 20px;
   grid-gap: 20px;
 }

 .process-pic {
   width: 95%;
   height: 450px;
   object-fit: cover;
   margin: 0 5px;
   border: 5px solid var(--black);
   border-radius: 25px;
 }

 .process-div{
   position: relative;
 }

 .process-desc{
   font-size: 20px;
   color: var(--white);
 }

 .text-div{
  position: absolute;
  text-align: center;
  background: var(--opaque);
  width: 95%;
  bottom: 50px;
  left: 10px;
 }

 .proc-pic1 {
   grid-area: a;
 }

 .proc-pic2 {
   grid-area: b;
 }

 .proc-pic3 {
   grid-area: c;
 }

 /* work */
 .photo-grid {
   grid-area: content-3;
 }

 .work-container {
   position: relative;
   width: 90%;
   height: auto;
   margin: 20px auto;
   background-color: var(--black);
   border: 5px solid var(--black);
   border-radius: 25px;
 }

 .image {
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
   border-radius: 20px;
 }

 .middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
 }

 .work-container:hover .image {
   opacity: 0.7;
 }

 .work-container:hover .middle {
   opacity: 1;
 }

 .text {
   color: var(--black);
   font-size: 20px;
   background:var(--white);
   padding: 10px 15px;
   border-radius: 15px;
 }

 /* footer */
 .footer {
   grid-area: footer;
   justify-self: center;
   margin-bottom: 20px;
 }

 .footer p {
   margin: 0;
   padding: 0;
   line-height: 20px;
   text-transform: lowercase;
 }

 #footer-span {
   border-left: 1px solid var(--red);
   margin-right: 4px;
 }

/* ---------------------------------media-------------------------------- */

@media only screen and (max-width: 1050px) {
  body {
    margin: 5px;
  }
 
  /* grid  */
  .container {
    display: grid;
    grid-gap: 10px;
    margin: 5px;
    grid-template-columns: minmax(15px, 1fr) 150px 120px minmax(500px, 750px) minmax(15px, 1fr);
  }
}

@media only screen and (max-width: 770px ){
  .process-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "a"
      "b"
      "c";
  }  
}


@media only screen and (max-width: 415px) {
  body {
  margin: 0 20px 0 0;
  font-size: 1rem;
}

.social-li{
 display: inline-block;
 margin: 0 5px;
 font-size: 2rem;
}

/* grid  */
.container {
  display: grid;
  width: 100vw;
  grid-gap: 10px;
  margin: 0;
  grid-template-columns: minmax(5px, 1fr) 1fr minmax(5px, 1fr);
  grid-template-rows: 5px repeat(8, min-content);
  grid-template-areas: 
   " . . ."
   " . logo . "
   " . header . "
   " . sb . "
   " . content-1 . "
   " . content-2 . "
   " . content-3 . "
   " . . . "
   " . footer . ";
}

/* sidebar  */
.sidebar {
  /* grid-area: sb; */
  margin-top: 0;
  margin-left: 0;
  text-align: center;
  font-size: 25px;
}

.logo-pic {
  width: 90%;
  margin-left: 0;
  margin-top: 0;
  margin-top: 25px; 
}

/* header */
.header {
  font-size: 50px;
  margin-top: 0;
}

.header-content{
 align-items: center;
 margin: 50px 0;
}

.header-under {
  margin-top: 10px;
  font-size: 28px;
  /* font-weight: 100; */
  text-align: end;
}

.red-span {
  color: var(--red);
}

/*  body  */

/*  bio  */
.bio-box {
  margin-bottom: 10px;
}


.bio {
  text-align: justify;
}

.process-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "a"
  "b"
  "c";
  margin-top: 20px;
}

.process-pic {
  width: 1fr;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  border: 5px solid var(--black);
  border-radius: 25px;
}

.process-div{
  position: relative;
}

.process-desc{
  font-size: 1.3rem;
  color: var(--white);
}

.text-div{
 position: absolute;
 text-align: center;
 width: 98%;
 bottom: 50px;
 left: 0;
}

/* footer */
.footer {
  font-size: .7rem;
}
}